<%= link_to "<button>Back</button>".html_safe,'/',:class=> "backlink-style" %>
	<%@comments.each do |comment| %>
		<h3><%="Posted by"%><%=" | "%><strong><%= comment.name%></strong></h3>
		<p><%= comment.body %></p>
		
		</br></br>
	<% end %>
